html, body {
    height: 100%;
    margin: 0px;
    font-family: sans-serif;
}

#root {
    height:100%;
}

.appContainer {
    display: flex;
    flex-direction: row;
    background-color: #181818;
    height: 100%;
}

.header {
    background-color: #181818;
    height: 6%;
    display: flex;
    justify-content: space-between;
}


#projectHeader {
    margin-top: 0;
    margin-left: 2%;
    color: #FFFFFF;
    text-decoration: underline;
}


